# dependencies
/node_modules

# Next.js
/.next
/out

# production
/build

# environment
.env*

# Vercel
.vercel

# operating system
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts
